html, body {
    background-color: black;
    color: white;
}

body {
    max-width: 720px;
    margin: 10px auto;
}

.hn--footer-root {
    padding: 2px 0px;
    margin: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hn--footer-root a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

.hn--news-title {
    /* font-size: 14px; */
}

.hn--container {
    margin: 10px 0px;
}
